Step -1 download xampp from here: https://www.apachefriends.org/index.html
Step 2 Seach Xampp control panel in start menu and then screen will appear turn on apache spark and Mysql .
Step 3 Then open http://localhost/phpmyadmin/ .
Step 4 Create a databse here and import that sql file here

Step 5 for connecting database and juypter notebook where we will load the data we need a connector . So for that we will use SQL connectors to create a link 
between them.

In [1]:
! pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 163.8 kB/s eta 0:01:13
     --------------------------------------- 0.1/11.9 MB 252.2 kB/s eta 0:00:47
      -------------------------------------- 0.2/11.9 MB 692.9 kB/s eta 0:00:17
     - -------------------------------------- 0.4/11.9 MB 1.4 MB/s eta 0:00:08
     -- ------------------------------------- 0.7/11.9 MB 1.9 MB/s eta 0:00:06
     --- ------------------------------------ 1.0/11.9 MB 2.4 MB/s eta 0:00:05
     ---- ----------------------------------- 1.2/11.9 MB 2.7 MB/s eta 0:00:04
     ---- ----------------------------------- 1.5/11.9 MB 2.8 MB/s eta 0:00:04
     ----- ---------------------------------- 1.8/11.9 MB 3.1 MB/s eta 0:00:04
     ------ --------------------------------- 2.1/11.9 MB 3.4 MB/s eta 0:00:03
     -------- ------------------------------- 2.4/11.9 MB 3.6 MB/s eta 0:00:03
     -------- ------------------------------- 2.6/11.9 MB 3.8 MB/s eta 0:00:03
     --------- ------------------------------ 2.9/11.9 MB 4.0 MB/s eta 0:00:03
     ---------- ----------------------------- 3.2/11.9 MB 4.0 MB/s eta 0:00:03
     ----------- ---------------------------- 3.5/11.9 MB 4.1 MB/s eta 0:00:03
     ------------ --------------------------- 3.7/11.9 MB 4.2 MB/s eta 0:00:02
     ------------- -------------------------- 4.0/11.9 MB 4.2 MB/s eta 0:00:02
     -------------- ------------------------- 4.3/11.9 MB 4.4 MB/s eta 0:00:02
     --------------- ------------------------ 4.6/11.9 MB 4.5 MB/s eta 0:00:02
     ---------------- ----------------------- 4.9/11.9 MB 4.6 MB/s eta 0:00:02
     ----------------- ---------------------- 5.2/11.9 MB 4.6 MB/s eta 0:00:02
     ------------------ --------------------- 5.5/11.9 MB 4.7 MB/s eta 0:00:02
     ------------------- -------------------- 5.8/11.9 MB 4.7 MB/s eta 0:00:02
     -------------------- ------------------- 6.0/11.9 MB 4.8 MB/s eta 0:00:02
     --------------------- ------------------ 6.3/11.9 MB 4.8 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 4.8 MB/s eta 0:00:02
     ----------------------- ---------------- 7.0/11.9 MB 4.9 MB/s eta 0:00:01
     ------------------------ --------------- 7.3/11.9 MB 4.9 MB/s eta 0:00:01
     ------------------------- -------------- 7.4/11.9 MB 4.9 MB/s eta 0:00:01
     ------------------------- -------------- 7.4/11.9 MB 4.9 MB/s eta 0:00:01
     -------------------------- ------------- 7.8/11.9 MB 4.8 MB/s eta 0:00:01
     --------------------------- ------------ 8.0/11.9 MB 4.8 MB/s eta 0:00:01
     --------------------------- ------------ 8.3/11.9 MB 4.9 MB/s eta 0:00:01
     ---------------------------- ----------- 8.6/11.9 MB 4.9 MB/s eta 0:00:01
     ----------------------------- ---------- 8.9/11.9 MB 4.9 MB/s eta 0:00:01
     ------------------------------- -------- 9.3/11.9 MB 5.0 MB/s eta 0:00:01
     -------------------------------- ------- 9.6/11.9 MB 5.0 MB/s eta 0:00:01
     --------------------------------- ------ 10.0/11.9 MB 5.1 MB/s eta 0:00:01
     ---------------------------------- ----- 10.3/11.9 MB 5.7 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 5.7 MB/s eta 0:00:01
     ------------------------------------ --- 10.9/11.9 MB 5.8 MB/s eta 0:00:01
     ------------------------------------- -- 11.2/11.9 MB 5.8 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 5.8 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 5.8 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 5.8 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 5.8 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 5.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: still running...
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=fbf3a6d94bdd9318ee3c1dce7493ffdb00da770d6eb569537bce25f4b1d39c45
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import mysql.connector

In [2]:
con = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [3]:
con

In [5]:
import pandas as pd

In [6]:
df = pd.read_sql_query("SELECT * FROM countrylanguage",con)

C:\Users\hp\AppData\Local\Temp\ipykernel_12976\920941377.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM countrylanguage",con)

In [7]:
df

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]